/*background-color: #00abe9;*
/*------head-----------*/
.head {
  background-color: #00abe9;
  padding: 10px 0;
  color: #fff;

}
.head i {
  margin-right: 10px;
}
.head label {
  margin-right: 30px;
  font-size: 13px;
 
}
/*------head-----------*/
/*------navbar-----------*/
.menu{
  display: flex;
align-items: center;
column-gap: 2.7rem;
font-family: "Poppins", sans-serif;


}



/*------navbar-----------*/
/*------search-----------*/
.nav__item a {
  color:#000000;
  font-weight: 400;
  cursor: pointer;

}
.nav__icons{
display: flex;
align-items: center;
column-gap:1.2rem ;
padding-left: 1rem;
text-decoration: none;

}
.nav__icons span i{
  font-size: 1.4rem;
  color: #000000;
  cursor: pointer;
}
.nav__icons span img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  vertical-align : inherit;
}
.nav__icons a{
  text-decoration: none;
}
.mobile__menu {
  font-size: 1.3rem;
  color: #000000;
  display: none;

}

.nav__active{
  font-weight: 700;
}
.search {
  padding: 20px 0;
}
.search .logo img {
  width: auto;
  height: auto;
}
.search .width {
  width: 20%;
}
.search-box {
  width: 80%;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  
}
.search-box i {
  width: 5%;
  text-align: center;
  font-size: 20px;
  opacity: 0.5;
  padding: 15px 20px;
  font-size: 17px;
}
.search-box input {
  width: 100%;
  padding: 10px;
}
::placeholder {
  font-size: 15px;
}
.search-box span {
  width: 20%;
  opacity: 0.5;
  border-left: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
.cart__icon,.fav__icon{
  position: relative;
}
.badgee  {
  position: absolute;
  top: 0%;
  right: -16%;
  width: 15px;
  height: 15px;
  content: '';
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#0b8bc1;
  color: #fff; 
  font-size: 0.7rem;
  font-weight: 600;
 z-index: 10;
}
.search .f_flex {
  justify-content: end;
}

/*------search-----------*/

.catgrories {
  background-color: #f6f9fc;
  padding: 0px 30px;
  border-radius: 5px;
  height: 6vh;
  margin-top: 5px;
}
.catgrories span {
  margin-right: 20px;
  font-size: 30px;
  margin-top: 10px;
}
.catgrories h4 {
  font-weight: 500;
  margin-top: 12px;
}
.catgrories h4 i {
  margin-left: 10px;
}
header {
  height: 8vh;
  box-shadow: -1px 15px 17px -8px rgba(0, 0, 0, 0.1);
}
header ul {
  line-height: 8vh;
}
header ul li {
  margin-left: 30px;
}
header ul li a {
  transition: 0.5s;
  font-size: 16px;
  font-weight: 400;

    text-decoration: none;
    color: black;
  
  
}
header ul li a:hover {
  color:  #fb7404;
}


.search.active {
  height: 12vh;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: #fff;
  box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}


