footer {
    background-color: #00abe9;
    padding: 100px 10;
    color: #fff;
     
}
 
 /* footer .img {
    background-color: #00abe9;
    padding:4px 6px;
    border-radius: 5px;
    justify-content: space-around;
    
  }
  footer .img i {
    font-size: 15px;
    margin: 5px;
  }
  footer .img span {
    margin-top: 1px;
  }*/
  footer h4{
    font-size: 20px;

    
    
  }
  footer p {
    font-size: 15px;
    font-weight: 300;
    opacity: 0.5;
    margin-bottom: 25px;
    
  }
  
  .link {
    color: #ffffff;
    font-size: 1.5rem;
    margin: 5%;
   
  }
 .footer__link{
    color: #fff;
    text-decoration:none ;
    margin-bottom: 5%;
    font-weight: 400;
    opacity: 0.5;
    font-size: 15px;
 }


 .link:hover{
    color: #fb7404; 
 }
 .footer__link:hover{
    color: #fb7404;
 }
 .icon{  
 
    display: flex;
    margin-top: 5%;
    font-size: 20px;
    
 }
 .icon :hover{
    color: #fb7404;
 }
 